{
	frankenphp
	auto_https disable_redirects
}

http://:80 {
	handle_path /phpmyadmin {
		root * C:\xampp\phpMyAdmin
		php_server
	}
	handle_path /phpmyadmin/* {
		root * C:\xampp\phpMyAdmin
		php_server
	}
	root * C:\xampp\htdocs\opensagra
	encode zstd gzip
	php_server
}

https://localhost, https://192.168.88.224, https://opensagra.local {
	handle_path /phpmyadmin {
		root * C:\xampp\phpMyAdmin
		php_server
	}
	handle_path /phpmyadmin/* {
		root * C:\xampp\phpMyAdmin
		php_server
	}
	root * C:\xampp\htdocs\opensagra
	encode zstd gzip
	php_server
	tls internal
}
