# IP del database: usa 127.0.0.1 per installazione locale oppure l'IP del server di cassa (in caso di database centralizzato)
DB_POS_HOST=127.0.0.1

# Credenziali di accesso al database MySQL/MariaDB
DB_POS_USER=utente
DB_POS_PASS=password
